# Configuration file

server {
    # Players in this list have access to the Journeymap's Server Admin Panel
    # Add users by name or UUID, Prefer UUID as it is more secure!
    # Each value on a new line with the example format provided. (please delete the default values)
    S:"Journeymap Server Admins" <
        mysticdrew
        12341234132
        b4869125-2c20-4973-9596-45a3389ce2eb
        Spectrum_13
     >

    # Default, all Ops have access to Server Admin UI in the Options screen.
    # If set to false, only users in the Admin List will have access.
    # If set to true, all ops and users in the Admin List will have access.
    B:"Ops Admin Access"=true
}


